@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #272829;
}
main {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  caret-color: aliceblue;
}

.title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  color: aliceblue;
}
h1 img {
  height: 40px;
  width: 38px;
  margin-left: 6px;
}

.card {
  border: 2px solid black;
  height: 600px;
  width: 1000px;
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  box-shadow: 10px 10px 10px black;
}

.task-list {
  margin: 20px 0 0 20px;
  height: 350px;
  width: 450px;
  color: aliceblue;
}

.task-box {
  border-left: 1px black solid;
  border-top: 1px black solid;
  margin: 20px 0 0 17px;
  height: 460px;
  max-height: 460px;
  width: 490px;
  color: aliceblue;
}

form img {
  height: 25px;
  width: 30px;
}
form button {
  border: none;
  background-color: transparent;
  margin-left: 5px;
}

form input {
  height: 30px;
  width: 350px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: black 2px solid;
  background-color: transparent;
  color: azure;
}

.task-list form {
  display: flex;
  margin-top: 17px;
}

ul {
  margin-top: 10px;
  list-style: circle;
}
ul:hover {
  cursor: pointer;
}
.task-list {
  list-style: circle;
}

h1:hover {
  cursor: pointer;
}
h2:hover {
  cursor: pointer;
}
.active-list {
  width: max-content;
  font-weight: bolder;
  list-style: disc;
  border-bottom: 1px white solid;
}

.to-do-header {
  border-bottom: 1px solid black;
  height: 120px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
}

.to-do-body {
  margin-top: 1em;
  height: 360px;
  width: 450px;
  margin-left: 1em;
}

.task {
  height: 50px;
  width: 420px;
}

.task-creator form {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
  height: 20px;
  width: 25px;
}

.custom-checkbox {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 50%;
  margin-right: 0.75em;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.task label {
  display: flex;
  align-items: center;
}

.task:hover .custom-checkbox {
  transform: scale(1.18);
}

li {
  margin-top: 10px;
}

.task-delete {
  margin-top: 270px;
  display: flex;
  height: min-content;
  width: 440px;
  justify-content: space-between;
}

.btn-delete {
  height: 50px;
  border: none;
  background-color: transparent;
  color: azure;
  transform: scale(1);
  transition: transform 200ms ease-in;
  display: flex;
}
.btn-delete:hover {
  height: 50px;
  border: none;
  background-color: transparent;
  color: grey;
  transform: scale(1.07);
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.task input {
  z-index: 2;
}

[type="checkbox"]:checked + label .custom-checkbox {
  padding: 0.5px;
  background-color: aliceblue;
}
